body {
  background-color: #638563;
}
div.header {
  background: #4c964c url(../img/dialogbg_admin.png) repeat-x scroll left center;
}
div.header div.title { text-shadow: 1px 0 #3B5543; }
div.header div.metanav {
  background-color: #356342;
  border-color: #428f57;
  }

div.footer {
  background: transparent url(../img/footerbg_admin.png) repeat-x scroll left bottom;
}
div.body ul.navbar {
  background-color: #356342;
  border-top: 1px solid #428f57;
  border-bottom: 1px solid #649f75;
}

div.body ul.ctxnavbar {
  background-color: #639d63;
}

div.body ul.navbar li a {
  background: transparent url(../img/dialogbg_admin.png) repeat-x scroll 0 -90px;
}
div.body ul.navbar li a:hover { background-color: #50855e; }

div.body ul.navbar li.active a, div.body ul.navbar li.active a:hover {
  background: #639d63 url(../img/greentab.png) repeat-x scroll 0 0;
  text-shadow: 1px 0 #3B5543;
}
div.body ul.ctxnavbar li a:hover {
  background-color: #3b5a3d;
}
div.body ul.ctxnavbar li.active a,
div.body ul.standalonebar li.active a,
div.body ul.standalonebar li.active a:hover {
  background: #FFFFFF url(../img/ctxbartab_admin.png) repeat-x scroll 0 0;
  color: #508A60;
}

div.contents h1 { color: #3b5543; }

div.contents input[name="memcached_servers"],
div.contents input[name="database_uri"],
div.contents input[name="secret_key"],
div.contents input[name="api_key"],
div.contents input[name="url"] {
  width: 600px;
}

div.contents table {
  border-bottom: 5px solid #d2f4d2;
}
div.contents table th {
  background-color: #d2f4d2;
}
div.contents table td {
  border-bottom: 1px dotted #d2f4d2;
}

div.contents input[type="submit"],
div.contents input[type="button"],
div.contents input[type="reset"],
div.contents a.button {
  color: #638563;
}
div.contents div.actions {
  border-bottom: 1px solid #a8cfa8;
  border-top: 1px solid #a8cfa8;
  background-color: #b0f4b0;
}
div.formbox h3 {
  background-color: #d2f4d2;
}

div.toggleable h3:hover {
  background-color: #a8d7a8;
}

div.contents input:focus,
div.contents textarea:focus,
div.contents select:focus {
  border:1px solid #9cf99c;
  outline-color:#579d57;
}